<div> 
  <%= image_tag "logo.png", size: "240x90", class:"navbar"%>
  <div class="center">
    <a class="nav-link" href=#carousel-example-generic>Gallery</a>
    <%= link_to "About Beja", about_url, class:"nav-link"%>
    <%= link_to "Contact", contact_url, class:"nav-link" %>
    <a class="nav-link" href=#>Contact</a>
    <a class="nav-link" href="https://www.facebook.com/Beja-B-Phtgrphy-226948844017763/">Facebook</a>
  </div>
</div>

<h1 class="center-text">About Beja</h1>
