// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* .navbar{ */
  /* position:relative; */
/* } */
.center{
  margin-top:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-text{
  padding:20px;
  text-align:center;
}

.nav-link{
  padding-left:20px;
  padding-right:20px;
  text-decoration:none;
  color:black;
  font-size: 20px;
  font-family:"Lucida Console", Monaco, monospace;
}

.down{
  margin-top:600px;
}

.gallery-photo{
  width:100%;
}

.carousel-control.left, .carousel-control.right .carousel-control.glyphicon .carousel-control {
  background-image: none !important;
  outline: none !important;
  filter: none !important; 
}

.section{
  height:600px;
}
